*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
}
.logo{
    font-size: 2rem;
}
nav{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    padding: 35px;
    justify-content: space-between;
}
.content,ul,li{
    display: flex;
    gap: 10px;    
}
@media (max-width: 600px) {
    nav{
        flex-direction: column;
        align-items: center;
        
    }
    
}
@media (max-width: 600px) {
    .content,ul,li{
        flex-direction: column;
        align-items: center;
    }
    
}
.hero{
    margin: 10px;
    border: 6px white solid;
    height: 750px;
    width: 1500px;
    border-radius: 8px;
}
img{
    border: 6px yellow solid;
    border-radius: 18px;
    height: 700px;
    margin: 10px;
    float: right;
}
#head{
    color: white;
    background-color: blueviolet;
    padding: 30px;
    border: 6px white solid;
    border-radius: 10px;
}
#para1{
    color: aliceblue;
    background-color: rgb(111, 3, 57);
    padding: 50px;
    border: 6px white solid;
    border-radius: 10px;
}
#para2{
    color: rgb(255, 255, 255);
    background-color: blue;
    padding: 50px;
    border: 6px white solid;
    border-radius: 10px;
}
.place-1{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    align-items: center;
    margin: 30px;
}